@using MultiShop.DtoLayer.CargoDtos.CargoCustomerDtos
@model GetCargoCustomerById

@{
    ViewData["Title"] = "Kargo Müşteri Bilgileri";
    Layout = "~/Areas/User/Views/UserLayout/Index.cshtml";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Profil Bilgileri</h4>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" class="text-secondary">Ad:</th>
                                <td>@Model.Name</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-secondary">Soyad:</th>
                                <td>@Model.Surname</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-secondary">E-posta:</th>
                                <td>@Model.Email</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-secondary">Telefon:</th>
                                <td>@Model.Phone</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-secondary">İlçe:</th>
                                <td>@Model.District</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-secondary">Şehir:</th>
                                <td>@Model.City</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-secondary">Adres:</th>
                                <td>@Model.Address</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-end">
                    <a href="/User/Profile/UpdateProfile/@Model.UserCustomerId"
                       class="btn btn-warning">
                        <i class="mdi mdi-pencil"></i> Düzenle
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

