@model List<ResultProductWithCategoryDto>
@if (Model != null)
{

    var commentCounts = ViewData["commentCounts"] as List<int>;
    var productAverageRaitings = ViewData["productAverageRaitings"] as List<int>;
    var index = 0;

    @foreach (var item in Model)
    {
        var rating = productAverageRaitings?[index];
        var normalPrice = item.ProductPrice;
        var discountedPrice = item.ProductPrice * (100 - ViewBag.discountRate) / 100;
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">


            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="@item.ProductImageUrl" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="/ShoppingCart/AddBasketItemm/@item.ProductId"><i class="fa fa-shopping-cart"></i></a>

                        <a class="btn btn-outline-dark btn-square" href="/ProductList/ProductDetail/@item.ProductId"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">@item.ProductName</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        @if (ViewBag.discountRate != 0)
                        {
                            item.ProductPrice = discountedPrice;
                            <h5>@(item.ProductPrice % 1 == 0 ? string.Format("{0:0}", item.ProductPrice) : string.Format("{0:0.00}", item.ProductPrice)) ₺</h5>

                            <h6 class="text-muted ml-2">
                                <del>@(normalPrice / (1 - (ViewBag.discountRate / 100)) % 1 == 0 ? string.Format("{0:0}", normalPrice / (1 - (ViewBag.discountRate / 100))) : string.Format("{0:0.00}", normalPrice / (1 - (ViewBag.discountRate / 100)))) ₺</del>
                            </h6>

                            // item.ProductPrice'ı güncelle
                            item.ProductPrice = discountedPrice;

                            
                        }
                        else
                        {
                            <h5>@(item.ProductPrice % 1 == 0 ? string.Format("{0:0}", item.ProductPrice) : string.Format("{0:0.00}", item.ProductPrice)) ₺</h5>
                        }



                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <!-- Dinamik Yıldızlar Başlangıcı -->
                        @for (int i = 1; i <= 5; i++)
                        {
                            <small class="fa fa-star @(i <= rating ? "text-primary" : "text-muted") mr-1"></small>
                        }
                        <!-- Dinamik Yıldızlar Bitişi -->

                        <small>(@(commentCounts?[index] ?? 0))</small>
                        @{
                            index++;
                        }
                    </div>
                </div>
            </div>

        </div>
    }
}
